<div class="jumbotron">
    <h1>Управление Номерами</h1>
    <div class="row">
        <div class='add_button btn btn-primary btn-lg'>Добавить Номер</div>
        <table class="row table_room">
            <thead>
                <tr>
                    <th class="col-md-2">Название</th>
                    <th class="col-md-2">Взрослых кроватей</th>
                    <th class="col-md-2">Детских кроватей</th>                    
                    <th class="col-md-2">Состояние</th>
                    <th class="col-md-2">Функции</th>
                </tr>
            </thead>
            <tbody id="allHotels"></tbody>
        </table>
        <div id="messege_box"></div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript" src="../../Scripts/GetUrlParametrs.js"></script> 
    <script type="text/javascript" src="../../Scripts/RoomIndex/Functions.js"></script> 
    <script type="text/javascript" src="../../Scripts/RoomIndex/GetAllRooms.js"></script> 
}
    
